* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: bisque;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        '_ footer';
    grid-template-columns: 15% 85%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: #122562;
    text-align: center;
    color: lightgray;
    position: sticky;
    top: 0;
    height: 100vh;
}
.sidebar > h3{
    margin-top: 20px;
}

.header {
    background-color: lightgray;
    text-align: center;
    color: black;
    grid-area: header;
    height: 85px;
    line-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main {
    display: grid;
    grid-template-columns: auto;
    grid-area: main;
    gap: 5px;
    padding: 10px;
    overflow-y: auto; 
}

.precio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
    height:35px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    padding: 10px;
    text-align: center;
}

.sidebar-footer {
    margin-top: auto;
    padding: 5% 0;
}

.redes-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 5%;
}

.custom-button {
    padding: 10px;
    font-size: medium;
    color: lightgray;
    background-color: green;
    width: 90%;
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
}

.custom-button:hover {
    background-color: darkgreen;
}

a {
    color: lightgray;
    padding: 10px 0px;
}

a:hover {
    color: orange;
}

.precio {
    font-style: italic;
    font-size: x-large;
}
.header > p{
    margin: 0;
    padding: 0;
    height: 40px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 1%;
    border-radius: 10px;
}

.product-card > p {
    padding: 5%;
}

.product-card > h3 {
    margin-top: 3%;
}

.imagen-tarjeta {
    padding-top: 7px;
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .main {
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding: 10px;
    }
}
